
.icon-up-open:before { content: '\e800'; } /* '' */
.icon-plus-1:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\f031'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
