
.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

main {
    min-height: 100vh;
  }
  
  main {
    .contenido {
      p {
        margin-bottom: 20px;
        line-height: 30px;
        color: #525151;
      }
    }
  }
  main{
    .contendio{
      .titulo{
        font: normal 50px Cookie, Arial, Helvetica, sans-serif;
        font-weight: normal;
        padding-top: 40px;
      }
    }
  
  }
  main {
    .contenido {
      .fecha {
        font-size: 14px;
        color: #B5B5B5;
      }
    }
  
  }
//  ASIDE
  
  aside {
    min-width: 30%;
    margin: 40px 20px 20px 0;
    height: 100%;
      background: #1D2F3D;
    padding: 20px;
    border-radius: 3px;
    position: sticky;
    top: 20px;
  }
  
  aside  {

    .titulo{
      font-family:Arial, Helvetica, sans-serif;
      font-weight: normal;
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #000000;}
      
  }
  
  aside{
    .indice{
      a{
        display: block;
        margin-bottom: 10px;
        color: #ffffff;
      }
      }
    }
  

  div.background {
    img {
      width: 70px;
      height: 70px;
      margin-top: -75px;
      margin-left: 550px;
      position: absolute;
      flex: end;
    }
  }
  div.contenedor{
    border-radius: 4px;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    background-size: contain;
    border:solid 3px black;
  }
  div.post {
    h1 {
      font: normal 50px Cookie, Arial, Helvetica, sans-serif;
      color: rgb(243, 222, 198);
    }
  
  }
  div.post {
    p {
      color: white;
    }
  }
  aside{
    border-radius: 4px;
    background-image: linear-gradient(315deg, #485461 0%, #d98927 74%); 
      color:black;
  }
  aside {
    a{
      text-decoration: none;
    }
  }
  aside {
    a {
      &:hover {
        color: white;
      }
    }
  }
  // @media Query
  @media screen and (max-width: 900px){
      
    aside{
    position: static;
    margin: 40px 0 0 0;
  }
  main{
    .contenedor {
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 769px) {
  footer {
    a {
      img {
        margin: 30px;
        width: 40px;
        height: 40px;
      }
    }
  }

  footer {
    a {
      img {
        &:hover {
          transform: scale(1.5, 1.5);
          transition-duration: 2s;
          opacity: 0.6;
        }
      }
    }
  }
}
@media only screen and (max-width:1032px) and (min-width:1023px) {
  div.background {
    img {
      width: 70px;
      height: 70px;
      margin-top: -75px;
      margin-left: 540px;
      position: absolute;
      flex: end;
    }
  }
}
@media only screen and (max-width:1022px) and (min-width:901px) {
  div.background {
    img {
      width: 40px;
      height: 40px;
      margin-top: -75px;
      margin-left: 470px;
      position: absolute;
      flex: end;
    }
  }
}
@media screen and (max-width: 900px) {

  aside {
    position: static;
    margin: 40px 0 0 0;
  }

  main {
    .contenedor {
      flex-direction: column;
    }

  }

  div.background {
    img {
      width: 40px;
      height: 40px;
      margin-top: -50px;
      margin-left: 690px;
      position: absolute;
      flex: end;
    }
  }
}
@media only screen and (max-width:860px) and (min-width:768px){
  div.background {
    img {
      width: 40px;
      height: 40px;
      margin-top: -50px;
      margin-left: 600px;
      position: absolute;
      flex: end;
    }
  }
}

@media only screen and (max-width:768px) and (min-width:591px) {
  div.background {
    img {
      width: 40px;
      height: 40px;
      margin-top: -50px;
      margin-left: 580px;
      position: absolute;
      flex: end;
    }
  }
}
@media only screen and (max-width:736px) and (min-width:590px) {
  div.background {
    img {
      width: 40px;
      height: 40px;
      margin-top: -50px;
      margin-left: 440px;
      position: absolute;
      flex: end;
    }
  }
}
@media only screen and (max-width:589px) and (min-width:490px) {
  div.background {
    img {
      width: 40px;
      height: 40px;
      margin-top: -50px;
      margin-left: 350px;
      position: absolute;
      flex: end;
    }
  }
}
@media only screen and (max-width:489px) and (min-width:446px) {
  div.background {
    img {
      width: 40px;
      height: 40px;
      margin-top: -50px;
      margin-left: 310px;
      position: absolute;
      flex: end;
    }
  }
}

@media only screen and (max-width:445px) and (min-width:400px) {
  div.background {
    img {
      width: 40px;
      height: 40px;
      margin-top: -50px;
      margin-left: 300px;
      position: absolute;
      flex: end;
    }
  }
}