
.bgBody {
  height: 650px;
}

.tituloContacto {
  width: 100%;
  display: flex;
  justify-content: center;
  font: normal 50px Cookie, Arial, Helvetica, sans-serif;
}

.tituloContacto {
  padding: 1rem;
  background-color: #212529;
  color: white;
  border-top: 3px solid #000;
}

.row {
  border: solid black 3px;
  background-image: url(../imagenes/imagenMadera.jpg);
}

form {
  label {
    color: white;
    font-size: 15px;
  }

}

.imgContacto {
  display: flex;
  justify-content: space-around;
}

.imgContacto1 {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  transition: transform .4s;
}

.imgContacto1:hover{
  transform: rotate(360deg);
}

.imgContacto2 {
  margin-top: 70px;
  width: 400px;
  height: 60px;
  visibility: hidden;
}


@media only screen and (max-width:1015px) {
  .imgContacto2 {
    margin-top: 70px;
    width: 250px;
    height: 40px;
  }
}

@media only screen and (max-width:684px) {
  .imgContacto2 {
    margin-top: 70px;
    width: 180px;
    height: 25px;
    visibility: visible;
  }
}

@media only screen and (max-width:538px) {
  .imgContacto2 {
    margin-top: 70px;
    width: 100px;
    height: 12px;
    visibility: visible;
  }
}