
.bgBody {
  width: 100%;
  background-image: url(../imagenes/mano-rojo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 650px;
}

.tituloContacto {
  padding: 40px;
  color: white;
  font-family: 'Bebas Neue', cursive;

}

.row {
  width: 40%;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.63);
}

form {
  label {
    color: white;
    font-size: 15px;
  }
}
.contenedor_contacto{
  width: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 900px){

  .row {
    width: 80%;

  }
}

