.imgFooter{
   margin:auto 6px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

footer h3{
    padding: 10px;
    font-size: 15px;
    color: white;
}