
.mercaderia {
    width: 100%;
    background-color: black;
}


.mercaderia1 {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.bg-mercaderia {
    background-image: url(../productos/jamonCocido.jpg);
}

.bg-mercaderia1 {
    background-image: url(../productos/JamonCrudo.jpg);
}

.bg-mercaderia2 {
    background-image: url(../productos/mortadela.jpg);
}

.bg-mercaderia3 {
    background-image: url(../productos/salame.webp);
}

.bg-mercaderia4 {
    background-image: url(../productos/panceta.jpg);
}

.bg-mercaderia5 {
    background-image: url(../productos/lomito.jpg);
}

.bg-mercaderia6 {
    background-image: url(../productos/brie.jpeg);
}

.bg-mercaderia7 {
    background-image: url(../productos/Mozzarella.webp);
}

.bg-mercaderia8 {
    background-image: url(../productos/Dambo.jpg);
}

.bg-mercaderia9 {
    background-image: url(../productos/cremoso.jpg);
}

.bg-mercaderia10 {
    background-image: url(../productos/faimbrin.jpg);
}

.bg-mercaderia11 {
    background-image: url(../productos/pategras.jpg);
}

.bg-mercaderia12 {
    background-image: url(../productos/quesoAzul.jpg);
}

.bg-mercaderia13 {
    background-image: url(../productos/quesoReggianito.jpg);
}

.bg-mercaderia14 {
    background-image: url(../productos/sardo.jpg);
}

.bg-mercaderia15 {
    background-image: url(../productos/cheddar.jpg);
}


.img_mercaderia {
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    padding: auto 20px;
    background-repeat: no-repeat;
    border-radius: 4px;
    background-size: cover;
}

.img_mercaderia {
    &:hover {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.63);
    }
}

.img_mercaderia {
    p {
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-family: 'Bebas Neue', cursive;
        font-size: 30px;
        padding: 50px;
        opacity: 0;
    }
}

.img_mercaderia p:hover {
    p {
        &:hover {
            opacity: 1;
        }
    }
}

.tittle_mercaderia {
    text-align: center;
    color: white;
}

.tittle_mercaderia {
    h1 {
        font-family: 'Bebas Neue', cursive;
        font-size: 60px;
        padding: 17px;
    }
}

.tittle_mercaderia {
    h3 {
        padding: 15px;
        font-size: 25px;
    }

    @media only screen and(max-width:1350px) {
        .img_mercaderia {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 170px;
            height: 170px;
            padding: auto 20px;
            background-repeat: no-repeat;
            border-radius: 4px;
            background-size: cover;
        }
    }

    @media only screen and(max-width:1150px) {
        .img_mercaderia {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
            height: 150px;
            padding: auto 20px;
            background-repeat: no-repeat;
            border-radius: 4px;
            background-size: cover;
        }
    }

    @media only screen and(max-width:1020px) {
        .img_mercaderia {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 130px;
            height: 130px;
            padding: auto 20px;
            background-repeat: no-repeat;
            border-radius: 4px;
            background-size: cover;
        }
    }

    @media only screen and(max-width:900px) {
        .img_mercaderia {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 110px;
            height: 110px;
            padding: auto 20px;
            background-repeat: no-repeat;
            border-radius: 4px;
            background-size: cover;
        }

        .tittle_mercaderia {
            h1 {
                font-family: 'Bebas Neue', cursive;
                font-size: 40px;
                padding: 14px;
            }
        }

        .mercaderia1 {
            padding: 30px;
        }

        .img_mercaderia {
            p {
                color: rgb(0, 0, 0);
                font-weight: bold;
                font-family: 'Bebas Neue', cursive;
                font-size: 20px;
                padding: 50px;
                opacity: 0;
            }
        }
    }

    @media only screen and(max-width:740px) {
        .img_mercaderia {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90px;
            height: 90px;
            padding: auto 20px;
            background-repeat: no-repeat;
            border-radius: 4px;
            background-size: cover;
        }

        .tittle_mercaderia {
            h1 {
                font-family: 'Bebas Neue', cursive;
                font-size: 35px;
                padding: 16px;
            }

        }

        .mercaderia1 {
            padding: 25px;
        }

        .img_mercaderia {
            p {
                color: rgb(0, 0, 0);
                font-weight: bold;
                font-family: 'Bebas Neue', cursive;
                font-size: 15px;
                padding: 50px;
                opacity: 0;
            }
        }
    }

    @media only screen and(max-width:600px) {
        .img_mercaderia {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
            padding: auto 20px;
            background-repeat: no-repeat;
            border-radius: 4px;
            background-size: cover;
        }

        .tittle_mercaderia {
            h1 {
                font-family: 'Bebas Neue', cursive;
                font-size: 30px;
                padding: 16px;
            }
        }

        .mercaderia1 {
            padding: 20px;
        }

        .img_mercaderia {
            p {
                color: rgb(0, 0, 0);
                font-weight: bold;
                font-family: 'Bebas Neue', cursive;
                font-size: 12px;
                padding: 50px;
                opacity: 0;
            }

        }
    }

    @media only screen and(max-width:480px) {
        .mercaderia1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 30px;
        }

        .img_mercaderia {
            margin: 10px;
            width: 200px;
            height: 200px;
        }

        .img_mercaderia {
            p {
                color: rgb(0, 0, 0);
                font-weight: bold;
                font-family: 'Bebas Neue', cursive;
                font-size: 25px;
                padding: 50px;
                opacity: 0;
            }
        }
    }