// clases navbar


nav.navbar {
  background-color: #000;
}

a.navbar-brand {
  color: white;
}

a.navbar-brand:hover {
  color: white;
}

.navbar-light .navbar-nav .nav-link.active {
  color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(230, 211, 211);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.938);
}

.divBtn {
  margin-right: 30px;
  background-color: #d98927;
  border: none;
  color: white;
  padding: 12px 28px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.navbar-toggler {
  background-color: #d98927;
}

.img_condor_navbar {
  border-radius: 100%;
  width: 40px;
  height: 40px
}

.don_condor_navbar {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 25px;
  font: normal 32px Cookie, Arial, Helvetica, sans-serif;
}

.don_condor_navbar {
  &:hover {
    color: rgb(205, 191, 191);
  }
}


@media only screen and(max-width: 768px) {
  div.navbar-collapse {
    text-align: center;
    border-radius: 4px;
  }

  .divBtn {
    margin-right: 0;
  }

  nav.navbar{
    z-index: 100;
    top: 0;
    position: sticky;
  }

}