.promos {
    margin: auto;
    background-image: url(../imagenes/sausages.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
    background-position: center;
    width: 100%;
    border: solid 2px #1a1c20;
    text-align: center;

}

.classH1 {
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
}

.classH1 h1 {
    h1 {
        font-size: 60px;
        padding: 25px;
    }
}

.contenido1 {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
    width: 70%;
    height: 70%;
    background-color: rgba(18, 18, 18, 0.737);
}

.contenido2 {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.promos {
    div.contenido2 {
        h3 {
            width: 40%;
            background-color: rgba(18, 18, 18, 0.671);
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            padding: 4px;
            font-weight: bold;
        }
    }
}

.boton_promos {
    background-color: #d98927;
    border: none;
    color: white;
    padding: 12px 28px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
}


div.contenido1 {
    div {
        color: white;
    }
}

.pro , .pro1{
    background-color: rgba(39, 38, 38, 0.573);
    border-radius: 3px;
    margin: 6px;
    transition: transform 1.5s;
}

.pro:hover , .pro1:hover{
    transform: scale(1.1);
}

@media only screen and (max-width:840px) {
    .contenido1 {
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(3, 35%);
        grid-template-rows: repeat(3, 35%);
        margin: auto;
        margin-top: 25px;
        border-radius: 5px;
        width: 70%;
        height: 70%;
        background-color: rgba(18, 18, 18, 0.737);
    }

    .promos {
        div.contenido2 {
            h3 {
                width: 80%;
                background-color: rgba(18, 18, 18, 0.671);
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                padding: 4px;
            }
        }
    }

    .classH1 h1 {
        font-size: 50px;
        padding: 25px;
    }

}

@media only screen and (max-width:730px) {
    .contenido1 {
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(3, 30%);
        grid-template-rows: repeat(3, 30%);
        margin: auto;
        margin-top: 25px;
        border-radius: 5px;
        width: 70%;
        height: 60%;
        background-color: rgba(18, 18, 18, 0.737);
    }

    .promos {
        div.contenido2 {
            h3 {
                width: 90%;
                background-color: rgba(18, 18, 18, 0.671);
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 10px;
                padding: 4px;
                margin-top: -10px;
            }
        }

        .classH1 h1 {
            font-size: 40px;
            padding: 25px;
        }
    }

    @media only screen and (max-width:658px) {
        .contenido1 {
            display: grid;
            justify-content: space-around;
            grid-template-columns: repeat(3, 30%);
            grid-template-rows: repeat(3, 30%);
            margin: auto;
            margin-top: 25px;
            border-radius: 5px;
            width: 70%;
            height: 60%;
            background-color: rgba(18, 18, 18, 0.737);
        }

        .promos {
            div.contenido2 {
                h3 {
                    width: 90%;
                    background-color: rgba(18, 18, 18, 0.671);
                    color: white;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 10px;
                    padding: 4px;
                    margin-top: -10px;
                }
            }
        }

    }

    div.contenido1 {
        div {
            p {
                font-size: 10px;
            }
        }
    }

    .contenido2 {
        h3 {
            font-size: 10px;
        }
    }

    .pro {
        margin-top: 18px;
    }

    .pro1 {
        margin-top: 66px;
    }
}

@media only screen and (max-width:658px) {
    .promos {
        .classH1 {
            h1 {
                font-size: 35px;
                padding: 30px;
            }
        }
    }
}



