* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #4e4e66;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #242d38;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(113, 117, 149, 0.979);
  border-right: 2px solid;
}

/* section picadas */
.bodyPicadas {
  background-image: url(../imagenes/imagenMadera.jpg);
}

.enviosP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgEnvio {
  width: 150px;
  height: 150px;
}

.pEnvio {
  margin-top: 70px;
  width: 400px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #adadad;
}

.bg-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
  height: auto;
}

.classTitlePicadas {
  width: 100%;
  text-align: center;
  color: #ffffff;
  font: normal 80px Cookie, Arial, Helvetica, sans-serif;
  margin-top: 30px;
}

div.card-body {
  background-color: #292c2f;
}

div.card-body p {
  color: #bbb1b1;
}

h5.card-title {
  font: 20px Arial, Helvetica, sans-serif;
  color: #ffffff;
}

div.row {
  background-color: #292c2f;
}

div.mb-3 {
  background-color: #292c2f;
  border: 3px solid black;
}

.text-muted {
  font-size: 15px;
}

/* Boton de HTML Nuestras Picadas con animation */
.divBotton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.divBotton button {
  -webkit-animation-name: animation;
          animation-name: animation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes animation {
  0% {
    width: 250px;
  }
  10% {
    width: 255px;
  }
  20% {
    width: 260px;
  }
  30% {
    width: 265px;
  }
  40% {
    width: 270px;
  }
  50% {
    width: 275px;
  }
  60% {
    width: 270px;
  }
  70% {
    width: 265px;
  }
  80% {
    width: 260px;
  }
  90% {
    width: 255px;
  }
  100% {
    width: 250px;
  }
}

@keyframes animation {
  0% {
    width: 250px;
  }
  10% {
    width: 255px;
  }
  20% {
    width: 260px;
  }
  30% {
    width: 265px;
  }
  40% {
    width: 270px;
  }
  50% {
    width: 275px;
  }
  60% {
    width: 270px;
  }
  70% {
    width: 265px;
  }
  80% {
    width: 260px;
  }
  90% {
    width: 255px;
  }
  100% {
    width: 250px;
  }
}

button.btn-outline-secondary {
  font-size: 25px;
  color: #b3b5cc;
}

div button.btn {
  border: solid 3px orange;
  background-color: rgba(221, 156, 36, 0);
  margin-bottom: 12px;
}

div button.btn:hover {
  border: solid 2px #bd8c32;
  background-color: #85611e;
}

.card-img-top {
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.card-img-top:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media only screen and (max-width: 900px) {
  .bg-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 80px;
    height: auto;
  }
  div.card {
    margin-bottom: 20px;
  }
  .pEnvio {
    margin-top: 70px;
    width: 400px;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #adadad;
  }
  .bodyPicadas {
    background-image: linear-gradient(315deg, #242d38 40%, #484d69 60%);
  }
}

@media only screen and (max-width: 450px) {
  .pEnvio {
    margin-top: 40px;
    width: 400px;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #adadad;
  }
  .imgEnvio {
    width: 100px;
    height: 100px;
    margin-left: 25px;
  }
}

@media only screen and (max-width: 500px) {
  .classTitlePicadas {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font: normal 50px Cookie, Arial, Helvetica, sans-serif;
    margin-top: 20px;
  }
}

div.container-fluid a.navbar-brand {
  margin: 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: normal 32px Cookie, Arial, Helvetica, sans-serif;
}

nav.navbar {
  border-bottom: 3px solid black;
  background-color: #000;
}

a.navbar-brand {
  color: white;
}

.navbar-light .navbar-nav .nav-link.active {
  color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(230, 211, 211, 0.603);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.938);
}

.divBtn {
  background-color: #d98927;
  border: none;
  color: white;
  padding: 12px 28px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  div.navbar-collapse {
    text-align: center;
    border-radius: 4px;
  }
}

.bgBody {
  height: 650px;
}

.tituloContacto {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font: normal 50px Cookie, Arial, Helvetica, sans-serif;
}

.tituloContacto {
  padding: 1rem;
  background-color: #212529;
  color: white;
  border-top: 3px solid #000;
}

.row {
  border: solid black 3px;
  background-image: url(../imagenes/imagenMadera.jpg);
}

form label {
  color: white;
  font-size: 15px;
}

.imgContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.imgContacto1 {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.imgContacto1:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.imgContacto2 {
  margin-top: 70px;
  width: 400px;
  height: 60px;
  visibility: hidden;
}

@media only screen and (max-width: 1015px) {
  .imgContacto2 {
    margin-top: 70px;
    width: 250px;
    height: 40px;
  }
}

@media only screen and (max-width: 684px) {
  .imgContacto2 {
    margin-top: 70px;
    width: 180px;
    height: 25px;
    visibility: visible;
  }
}

@media only screen and (max-width: 538px) {
  .imgContacto2 {
    margin-top: 70px;
    width: 100px;
    height: 12px;
    visibility: visible;
  }
}

.promos {
  margin: auto;
  background-image: url(../imagenes/sausages.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.8;
  background-position: center;
  width: 100%;
  border: solid 2px #1a1c20;
  text-align: center;
  height: 800px;
}

.classH1 {
  margin-top: 30px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.contenido1 {
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-columns: (200px)[3];
      grid-template-columns: repeat(3, 200px);
  -ms-grid-rows: (200px)[3];
      grid-template-rows: repeat(3, 200px);
  margin: auto;
  margin-top: 25px;
  border-radius: 5px;
  width: 70%;
  height: 70%;
  background-color: rgba(18, 18, 18, 0.737);
}

.contenido2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

.promos div.contenido2 h3 {
  width: 40%;
  background-color: rgba(18, 18, 18, 0.671);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 4px;
  font-weight: bold;
}

.btnPromos {
  margin-top: 20px;
}

div.contenido1 div {
  color: white;
}

@media only screen and (max-width: 840px) {
  .contenido1 {
    display: -ms-grid;
    display: grid;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-grid-columns: (35%)[3];
        grid-template-columns: repeat(3, 35%);
    -ms-grid-rows: (35%)[3];
        grid-template-rows: repeat(3, 35%);
    margin: auto;
    margin-top: 25px;
    border-radius: 5px;
    width: 70%;
    height: 70%;
    background-color: rgba(18, 18, 18, 0.737);
  }
  .promos div.contenido2 h3 {
    width: 80%;
    background-color: rgba(18, 18, 18, 0.671);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 4px;
  }
}

@media only screen and (max-width: 730px) {
  .contenido1 {
    display: -ms-grid;
    display: grid;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-grid-columns: (30%)[3];
        grid-template-columns: repeat(3, 30%);
    -ms-grid-rows: (30%)[3];
        grid-template-rows: repeat(3, 30%);
    margin: auto;
    margin-top: 25px;
    border-radius: 5px;
    width: 70%;
    height: 70%;
    background-color: rgba(18, 18, 18, 0.737);
  }
  .promos div.contenido2 h3 {
    width: 90%;
    background-color: rgba(18, 18, 18, 0.671);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    padding: 4px;
    margin-top: -10px;
  }
  div.contenido1 div p {
    font-size: 10px;
  }
  .contenido2 h3 {
    font-size: 10px;
  }
  .pro {
    margin-top: 18px;
  }
  .pro1 {
    margin-top: 66px;
  }
}

#btn-mas {
  display: none;
}

.cont1 {
  position: fixed;
  bottom: 20px;
  left: 25px;
}

.redes a, .icon-mas2 {
  display: block;
  text-decoration: none;
  background: #d98927;
  color: #fff;
  height: 55px;
  width: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.redes a:hover {
  background: #fff;
  color: #fdac49;
}

.redes a {
  margin-bottom: -15px;
  opacity: 0;
  visibility: hidden;
}

#btn-mas:checked ~ .redes a {
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}

.icon-mas2 {
  cursor: pointer;
  background: #d98927;
  font-size: 23px;
}

#btn-mas:checked ~ .btn-mas .icon-mas2 {
  -webkit-transform: rotate(137deg);
          transform: rotate(137deg);
  font-size: 25px;
}

.go-top-container {
  position: fixed;
  bottom: -1rem;
  right: 3rem;
  width: 4.4rem;
  height: 4.4rem;
  z-index: -1;
}

.go-top-button {
  width: 0rem;
  height: 0rem;
  background: #d98927;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  border: solid 3px #8b5716;
}

.go-top-button i {
  position: absolute;
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  color: #fff;
  -webkit-transform: .2s;
          transform: .2s;
}

.show {
  z-index: 10;
}

.show .go-top-button {
  -webkit-animation: popup .3s ease-in-out;
          animation: popup .3s ease-in-out;
  width: 4.6rem;
  height: 4.6rem;
  z-index: 11;
}

.show i {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

@-webkit-keyframes popup {
  0% {
    width: 0rem;
    height: 0rem;
  }
  50% {
    width: 6rem;
    height: 6rem;
  }
  100% {
    width: 4.6rem;
    height: 4.6rem;
  }
}

@keyframes popup {
  0% {
    width: 0rem;
    height: 0rem;
  }
  50% {
    width: 6rem;
    height: 6rem;
  }
  100% {
    width: 4.6rem;
    height: 4.6rem;
  }
}

.imgFooter {
  margin: auto 6px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: black;
  text-align: center;
}

footer h3 {
  padding: 10px;
  font-size: 15px;
  color: white;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: #2125299c;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
}

.seccion_app {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  height: 760px;
}

.img_celular {
  margin: 150px;
  width: 400px;
  height: 500px;
}

.div_app {
  height: 780px;
  text-align: center;
  margin: 200px auto;
  width: 40%;
}

.div_app h2 {
  color: white;
  font-size: 50px;
  padding: 30px;
}

.div_app p {
  font-size: 18px;
  color: white;
  padding: 20px;
}

.img_app {
  width: 450px;
  height: 150px;
}

.div_celular {
  width: 40%;
}

.quienes_somos {
  background-image: url(../imagenes/bgQuienesSomos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  width: 100%;
  height: 760px;
}

.quienes_somos h3 {
  padding: 30px;
  color: white;
  font-size: 60px;
}

.quienes_somos p {
  font-size: 20px;
  color: white;
  padding: 10px;
}

.quienes_somos img {
  width: 50px;
  height: 50px;
}

.ubicacion {
  background-image: url(../imagenes/fondoUbicacion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 500px;
  text-align: center;
}

.ubicacion h1 {
  margin: 50px;
  color: white;
  font-size: 60px;
}

.ubicacion p {
  color: white;
  font-size: 20px;
}

iframe {
  border: solid 3px black;
  border-radius: 4px;
}

.img_maps {
  margin: auto 1px;
  width: 150px;
  height: 150px;
}

.h1_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mercaderia {
  width: 100%;
  background-color: black;
}

.mercaderia1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px;
}

.bg-mercaderia {
  background-image: url(../productos/jamonCocido.jpg);
}

.bg-mercaderia1 {
  background-image: url(../productos/JamonCrudo.jpg);
}

.bg-mercaderia2 {
  background-image: url(../productos/mortadela.jpg);
}

.bg-mercaderia3 {
  background-image: url(../productos/salame.webp);
}

.bg-mercaderia4 {
  background-image: url(../productos/panceta.jpg);
}

.bg-mercaderia5 {
  background-image: url(../productos/lomito.jpg);
}

.bg-mercaderia6 {
  background-image: url(../productos/brie.jpeg);
}

.bg-mercaderia7 {
  background-image: url(../productos/Mozzarella.webp);
}

.bg-mercaderia8 {
  background-image: url(../productos/Dambo.jpg);
}

.bg-mercaderia9 {
  background-image: url(../productos/cremoso.jpg);
}

.bg-mercaderia10 {
  background-image: url(../productos/faimbrin.jpg);
}

.bg-mercaderia11 {
  background-image: url(../productos/pategras.jpg);
}

.bg-mercaderia12 {
  background-image: url(../productos/quesoAzul.jpg);
}

.bg-mercaderia13 {
  background-image: url(../productos/quesoReggianito.jpg);
}

.bg-mercaderia14 {
  background-image: url(../productos/sardo.jpg);
}

.bg-mercaderia15 {
  background-image: url(../productos/cheddar.jpg);
}

.img_mercaderia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 200px;
  padding: auto 20px;
  background-repeat: no-repeat;
  border-radius: 4px;
  background-size: cover;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.img_mercaderia:hover {
  opacity: 0.7;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.img_mercaderia p {
  color: white;
  font-size: 20px;
  padding: 100px;
  opacity: 0;
}

.img_mercaderia p:hover {
  opacity: 1;
}

.tittle_mercaderia {
  text-align: center;
  color: white;
}

.tittle_mercaderia h1 {
  font-size: 50px;
  padding: 20px;
}

.tittle_mercaderia h3 {
  padding: 20px;
  font-size: 25px;
}
/*# sourceMappingURL=main.css.map */