* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #4e4e66;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #242d38;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(113, 117, 149, 0.979);
  border-right: 2px solid;
}

/* section picadas */
.bodyPicadas {
  background-image: url(../imagenes/imagenMadera.jpg);
}

.enviosP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgEnvio {
  width: 150px;
  height: 150px;
}

.pEnvio {
  margin-top: 70px;
  width: 400px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #adadad;
}

.bg-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
  height: auto;
}

.classTitlePicadas {
  width: 100%;
  text-align: center;
  color: #ffffff;
  font: normal 80px Cookie, Arial, Helvetica, sans-serif;
  margin-top: 30px;
}

div.card-body {
  background-color: #292c2f;
}

div.card-body p {
  color: #bbb1b1;
}

h5.card-title {
  font: 20px Arial, Helvetica, sans-serif;
  color: #ffffff;
}

div.row {
  background-color: #292c2f;
}

div.mb-3 {
  background-color: #292c2f;
  border: 3px solid black;
}

.text-muted {
  font-size: 15px;
}

/* Boton de HTML Nuestras Picadas con animation */
.divBotton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.divBotton button {
  -webkit-animation-name: animation;
          animation-name: animation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes animation {
  0% {
    width: 250px;
  }
  10% {
    width: 255px;
  }
  20% {
    width: 260px;
  }
  30% {
    width: 265px;
  }
  40% {
    width: 270px;
  }
  50% {
    width: 275px;
  }
  60% {
    width: 270px;
  }
  70% {
    width: 265px;
  }
  80% {
    width: 260px;
  }
  90% {
    width: 255px;
  }
  100% {
    width: 250px;
  }
}

@keyframes animation {
  0% {
    width: 250px;
  }
  10% {
    width: 255px;
  }
  20% {
    width: 260px;
  }
  30% {
    width: 265px;
  }
  40% {
    width: 270px;
  }
  50% {
    width: 275px;
  }
  60% {
    width: 270px;
  }
  70% {
    width: 265px;
  }
  80% {
    width: 260px;
  }
  90% {
    width: 255px;
  }
  100% {
    width: 250px;
  }
}

button.btn-outline-secondary {
  font-size: 25px;
  color: #b3b5cc;
}

div button.btn {
  border: solid 3px orange;
  background-color: rgba(221, 156, 36, 0);
  margin-bottom: 12px;
}

div button.btn:hover {
  border: solid 2px #bd8c32;
  background-color: #85611e;
}

@media only screen and (max-width: 900px) {
  .bg-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 80px;
    height: auto;
  }
  div.card {
    margin-bottom: 20px;
  }
  .pEnvio {
    margin-top: 70px;
    width: 400px;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #adadad;
  }
  .bodyPicadas {
    background-image: linear-gradient(315deg, #242d38 40%, #484d69 60%);
  }
}

@media only screen and (max-width: 450px) {
  .pEnvio {
    margin-top: 40px;
    width: 400px;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #adadad;
  }
  .imgEnvio {
    width: 100px;
    height: 100px;
    margin-left: 25px;
  }
}

@media only screen and (max-width: 500px) {
  .classTitlePicadas {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font: normal 50px Cookie, Arial, Helvetica, sans-serif;
    margin-top: 20px;
  }
}

div.container-fluid a.navbar-brand {
  margin: 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: normal 32px Cookie, Arial, Helvetica, sans-serif;
}

nav.navbar {
  border-bottom: 3px solid #3a3947;
  background-image: linear-gradient(315deg, #242d38 0%, #535879 74%);
}

a.navbar-brand {
  color: white;
}

.navbar-light .navbar-nav .nav-link.active {
  color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(230, 211, 211, 0.603);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.938);
}

.divBtn {
  border-radius: 8px;
  padding: 5px;
  color: white;
  background: #d98927;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d98927), to(#575976));
  background-image: linear-gradient(to bottom, #d98927, #575976);
}

.divBtn:hover {
  background: #575976;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#575976), to(#d98927));
  background-image: linear-gradient(to bottom, #575976, #d98927);
  text-decoration: none;
}

/* porductos */
.productTitle {
  border-radius: 4px;
  border-top: solid 2px #1a1c20;
}

.productos_ {
  background-image: url(../imagenes/imagenMadera.jpg);
  border-bottom: solid 2px #1a1c20;
  border-radius: 4px;
}

.products {
  display: inline-block;
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -ms-grid-columns: (200px)[5];
      grid-template-columns: repeat(5, 200px);
  -ms-grid-rows: (200px)[2];
      grid-template-rows: repeat(2, 200px);
  width: 100%;
  height: 600px;
}

.products img {
  display: inline-block;
  opacity: 0.8;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: solid black 2px;
}

.products img:hover {
  opacity: 1;
}

.productTitle {
  color: black;
  text-align: center;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 1024px) {
  .products {
    display: -ms-grid;
    display: grid;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
    -ms-grid-columns: (180px)[3];
        grid-template-columns: repeat(3, 180px);
    -ms-grid-rows: (180px)[6];
        grid-template-rows: repeat(6, 180px);
    width: 100%;
    height: 924px;
  }
  .products img {
    display: inline-block;
    opacity: 0.8;
    width: 170px;
    height: 170px;
    border-radius: 100%;
    border: solid black 2px;
  }
}

@media only screen and (max-width: 769px) {
  .productTitle {
    font-size: 35px;
  }
  .products img {
    opacity: 0.8;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: solid black 2px;
  }
  .products {
    display: inline-block;
    width: 100%;
    height: 2000px;
    background-color: #242d38;
  }
}

@media only screen and (max-width: 699px) and (min-width: 330px) {
  .products img {
    display: inline-block;
    opacity: 0.8;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: solid black 2px;
  }
  .products {
    display: inline-block;
    width: 100%;
    height: 3752px;
    background-image: linear-gradient(315deg, #242d38 40%, #484d69 60%);
  }
}

.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main {
  min-height: 100vh;
}

main .contenido p {
  margin-bottom: 20px;
  line-height: 30px;
  color: #525151;
}

main .contendio .titulo {
  font: normal 50px Cookie, Arial, Helvetica, sans-serif;
  font-weight: normal;
  padding-top: 40px;
}

main .contenido .fecha {
  font-size: 14px;
  color: #B5B5B5;
}

aside {
  min-width: 30%;
  margin: 40px 20px 20px 0;
  height: 100%;
  background: #1D2F3D;
  padding: 20px;
  border-radius: 3px;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

aside .titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
}

aside .indice a {
  display: block;
  margin-bottom: 10px;
  color: #ffffff;
}

div.background img {
  width: 70px;
  height: 70px;
  margin-top: -32px;
  margin-left: 550px;
  position: absolute;
  -webkit-box-flex: end;
      -ms-flex: end;
          flex: end;
}

div.contenedor {
  border-radius: 4px;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  background-size: contain;
  border: solid 3px black;
}

div.post h1 {
  font: normal 50px Cookie, Arial, Helvetica, sans-serif;
  color: #f3dec6;
}

div.post p {
  color: white;
}

aside {
  border-radius: 4px;
  background-image: linear-gradient(315deg, #485461 0%, #d98927 74%);
  color: black;
}

aside a {
  text-decoration: none;
}

aside a:hover {
  color: white;
}

@media screen and (max-width: 900px) {
  aside {
    position: static;
    margin: 40px 0 0 0;
  }
  main .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 769px) {
  footer a img {
    margin: 30px;
    width: 40px;
    height: 40px;
  }
  footer a img:hover {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
    -webkit-transition-duration: 2s;
            transition-duration: 2s;
    opacity: 0.6;
  }
}

@media only screen and (max-width: 1032px) and (min-width: 1023px) {
  div.background img {
    width: 70px;
    height: 70px;
    margin-top: -32px;
    margin-left: 540px;
    position: absolute;
    -webkit-box-flex: end;
        -ms-flex: end;
            flex: end;
  }
}

@media only screen and (max-width: 1022px) and (min-width: 901px) {
  div.background img {
    width: 70px;
    height: 70px;
    margin-top: -32px;
    margin-left: 470px;
    position: absolute;
    -webkit-box-flex: end;
        -ms-flex: end;
            flex: end;
  }
}

@media screen and (max-width: 900px) {
  aside {
    position: static;
    margin: 40px 0 0 0;
  }
  main .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.background img {
    width: 70px;
    height: 70px;
    margin-top: -50px;
    margin-left: 690px;
    position: absolute;
    -webkit-box-flex: end;
        -ms-flex: end;
            flex: end;
  }
}

@media only screen and (max-width: 860px) and (min-width: 768px) {
  div.background img {
    width: 70px;
    height: 70px;
    margin-top: -50px;
    margin-left: 600px;
    position: absolute;
    -webkit-box-flex: end;
        -ms-flex: end;
            flex: end;
  }
}

@media only screen and (max-width: 768px) and (min-width: 591px) {
  div.background img {
    width: 70px;
    height: 70px;
    margin-top: -50px;
    margin-left: 580px;
    position: absolute;
    -webkit-box-flex: end;
        -ms-flex: end;
            flex: end;
  }
}

@media only screen and (max-width: 736px) and (min-width: 590px) {
  div.background img {
    width: 70px;
    height: 70px;
    margin-top: -50px;
    margin-left: 440px;
    position: absolute;
    -webkit-box-flex: end;
        -ms-flex: end;
            flex: end;
  }
}

@media only screen and (max-width: 589px) and (min-width: 490px) {
  div.background img {
    width: 70px;
    height: 70px;
    margin-top: -50px;
    margin-left: 350px;
    position: absolute;
    -webkit-box-flex: end;
        -ms-flex: end;
            flex: end;
  }
}

@media only screen and (max-width: 489px) and (min-width: 446px) {
  div.background img {
    width: 70px;
    height: 70px;
    margin-top: -50px;
    margin-left: 310px;
    position: absolute;
    -webkit-box-flex: end;
        -ms-flex: end;
            flex: end;
  }
}

@media only screen and (max-width: 445px) and (min-width: 400px) {
  div.background img {
    width: 70px;
    height: 70px;
    margin-top: -50px;
    margin-left: 300px;
    position: absolute;
    -webkit-box-flex: end;
        -ms-flex: end;
            flex: end;
  }
}

.bgBody {
  height: 650px;
}

.tituloContacto {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font: normal 50px Cookie, Arial, Helvetica, sans-serif;
}

.tituloContacto {
  color: white;
  margin-top: 20px;
}

.row {
  margin-top: 10px;
  border: solid black 3px;
  background-image: url(../imagenes/imagenMadera.jpg);
}

form label {
  color: white;
  font-size: 15px;
}

.imgContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.imgContacto1 {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.imgContacto2 {
  margin-top: 70px;
  width: 400px;
  height: 60px;
}

@media only screen and (max-width: 1015px) {
  .imgContacto2 {
    margin-top: 70px;
    width: 250px;
    height: 40px;
  }
}

@media only screen and (max-width: 684px) {
  .imgContacto2 {
    margin-top: 70px;
    width: 180px;
    height: 25px;
  }
}

@media only screen and (max-width: 538px) {
  .imgContacto2 {
    margin-top: 70px;
    width: 100px;
    height: 12px;
  }
}

.promos {
  margin: auto;
  background-image: url(../lineas/bg.jpg);
  opacity: 0.8;
  background-position: center;
  width: 98%;
  border: solid 2px #1a1c20;
  text-align: center;
  height: 800px;
}

.classH1 {
  margin-top: 30px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.contenido1 {
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-columns: (200px)[3];
      grid-template-columns: repeat(3, 200px);
  -ms-grid-rows: (200px)[3];
      grid-template-rows: repeat(3, 200px);
  margin: auto;
  margin-top: 25px;
  border-radius: 5px;
  width: 70%;
  height: 70%;
  background-color: rgba(18, 18, 18, 0.737);
}

.contenido2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

.promos div.contenido2 h3 {
  width: 40%;
  background-color: rgba(18, 18, 18, 0.671);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 4px;
}

.btnPromos {
  margin-top: 20px;
}

@media only screen and (max-width: 840px) {
  .contenido1 {
    display: -ms-grid;
    display: grid;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-grid-columns: (35%)[3];
        grid-template-columns: repeat(3, 35%);
    -ms-grid-rows: (35%)[3];
        grid-template-rows: repeat(3, 35%);
    margin: auto;
    margin-top: 25px;
    border-radius: 5px;
    width: 70%;
    height: 70%;
    background-color: rgba(18, 18, 18, 0.737);
  }
  .promos div.contenido2 h3 {
    width: 80%;
    background-color: rgba(18, 18, 18, 0.671);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 4px;
  }
}

@media only screen and (max-width: 730px) {
  .contenido1 {
    display: -ms-grid;
    display: grid;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-grid-columns: (30%)[3];
        grid-template-columns: repeat(3, 30%);
    -ms-grid-rows: (30%)[3];
        grid-template-rows: repeat(3, 30%);
    margin: auto;
    margin-top: 25px;
    border-radius: 5px;
    width: 70%;
    height: 70%;
    background-color: rgba(18, 18, 18, 0.737);
  }
  .promos div.contenido2 h3 {
    width: 90%;
    background-color: rgba(18, 18, 18, 0.671);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    padding: 4px;
    margin-top: -10px;
  }
  div.contenido1 div p {
    font-size: 10px;
  }
  .contenido2 h3 {
    font-size: 10px;
  }
}

#btn-mas {
  display: none;
}

.cont1 {
  position: fixed;
  bottom: 20px;
  left: 25px;
}

.redes a, .icon-mas2 {
  display: block;
  text-decoration: none;
  background: #d98927;
  color: #fff;
  height: 55px;
  width: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.redes a:hover {
  background: #fff;
  color: #d98927;
}

.redes a {
  margin-bottom: -15px;
  opacity: 0;
  visibility: hidden;
}

#btn-mas:checked ~ .redes a {
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}

.icon-mas2 {
  cursor: pointer;
  background: #e2a54a;
  font-size: 23px;
}

#btn-mas:checked ~ .btn-mas .icon-mas2 {
  -webkit-transform: rotate(137deg);
          transform: rotate(137deg);
  font-size: 25px;
}

.go-top-container {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  width: 4.4rem;
  height: 4.4rem;
  z-index: -1;
}

.go-top-button {
  width: 0rem;
  height: 0rem;
  background: #d98927;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  border: solid 3px #8b5716;
}

.go-top-button i {
  position: absolute;
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  color: #fff;
  -webkit-transform: .2s;
          transform: .2s;
}

.show {
  z-index: 10;
}

.show .go-top-button {
  -webkit-animation: popup .3s ease-in-out;
          animation: popup .3s ease-in-out;
  width: 4.6rem;
  height: 4.6rem;
  z-index: 11;
}

.show i {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

@-webkit-keyframes popup {
  0% {
    width: 0rem;
    height: 0rem;
  }
  50% {
    width: 6rem;
    height: 6rem;
  }
  100% {
    width: 4.6rem;
    height: 4.6rem;
  }
}

@keyframes popup {
  0% {
    width: 0rem;
    height: 0rem;
  }
  50% {
    width: 6rem;
    height: 6rem;
  }
  100% {
    width: 4.6rem;
    height: 4.6rem;
  }
}

@media only screen and (max-width: 470px) {
  .go-top-container {
    position: fixed;
    bottom: -1rem;
    right: 3rem;
    width: 4.4rem;
    height: 4.4rem;
    z-index: 1;
  }
}

#toggleContainer label {
  text-align: center;
  width: 70px;
}

#container {
  height: 100vh;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#toggleContainer {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95vw;
  position: absolute;
}

#tilesContainer {
  min-height: 90vh;
  width: 100vw;
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-line-pack: center;
      align-content: center;
}

.tileItem {
  width: 250px;
  height: 250px;
  margin: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tileItem:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#galleryContainer {
  height: 500px;
  width: 800px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

#toggle {
  height: 10vh;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

#tilesView {
  min-height: 100vh;
  width: 100vw;
  background: #f6d26a;
  background: linear-gradient(111deg, #f6d26a 0%, #ff9f00 52%, #fbc564 100%);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#galleryView {
  height: 100vh;
  width: 100%;
  background: #f6d26a;
  background: linear-gradient(111deg, #f4d167 0%, darkorange 52%, #ffc04a 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#outer3 {
  width: 100px;
  height: 40px;
  background-color: white;
  margin: 10px auto;
  border-radius: 3px;
  border: 2px solid white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#slider3 {
  height: 36px;
  width: 46px;
  background-color: orange;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#slider3.active {
  -webkit-transform: translatex(50px);
  transform: translatex(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: orange;
}

#outer3.outerActive {
  background-color: white;
  border: 2px solid white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#mainView {
  height: 450px;
  width: 450px;
  border-radius: 5px;
  background-color: #eb9100;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#mainView:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 1s;
  transition: all 1s;
}

#leftView {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  -webkit-transform: skewy(5deg);
          transform: skewy(5deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  background-color: #eb9100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#leftView:hover {
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#rightView {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  -webkit-transform: skewy(-5deg);
          transform: skewy(-5deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  background-color: #eb9100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#rightView:hover {
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navBtns {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  position: absolute;
  opacity: 0.8;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.navBtns:hover {
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #eb9100;
}

#navLeft {
  left: 50px;
}

#navRight {
  right: 50px;
}

#linkTag {
  cursor: pointer;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 784px) {
  #mainView {
    height: 350px;
    width: 350px;
    border-radius: 5px;
    background-color: #eb9100;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  #rightView {
    visibility: hidden;
  }
  #leftView {
    visibility: hidden;
  }
}

@media only screen and (max-width: 784px) {
  #mainView {
    height: 320px;
    width: 320px;
    border-radius: 5px;
    background-color: #eb9100;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  #rightView {
    height: 150px;
    width: 100px;
  }
  #leftView {
    height: 150px;
    width: 100px;
  }
}

@media only screen and (max-width: 784px) {
  #mainView {
    height: 320px;
    width: 320px;
    border-radius: 5px;
    background-color: #eb9100;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  #rightView {
    height: 150px;
    width: 100px;
  }
  #leftView {
    height: 150px;
    width: 100px;
  }
}

.imgFooter {
  margin-top: 2px;
  width: 50px;
  height: 50%;
  border-radius: 100%;
}

footer {
  border-top: solid 2px black;
  background-color: #13131f;
  text-align: center;
}

footer h3 {
  font-size: 15px;
  color: white;
}
/*# sourceMappingURL=main.css.map */